body {
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #3E2723;
    background-color: ; 


#header {
    background-color: rgba(255, 240, 200, 0.8); 
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


#banner h1 {
    font-size: 2.5em;
    margin: 0;
    color: #6D4C41; 
    font-weight: bold;
}


#nav {
    background-color: #6D4C41; 
    padding: 15px;
    text-align: center;
    color: #F5F5F5;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
    font-size: large;
    margin-right: 20px;
    padding: 15px;
}

#nav a:hover {
    background-color: #3E2723; 
    border-radius: 5px;
    color: #FFEB3B; 
    text-decoration: none;
}


#main {
    padding: 40px;
    background-color: rgba(255, 240, 200, 0.8); 
    margin: 10px;
    border-radius: 5px;
    max-width: 1700px;
}

h1, h2 {
    color: #6D4C41; 
    text-align: center;
}

hr {
    border: 2px solid #3E2723; 
}

section {
    margin-bottom: 30px;
}

p {
    color: rgba(100, 42, 4, 0.795); 
    line-height: 1.6;
    font-size: 1em; 
    text-align: center; 
}


#footer {
    text-align: center;
    padding: 20px;
    background-color: #6D4C41; 
    color: #F5F5F5; 
}

#footer a {
    color: #FFEB3B; 
    text-decoration: none;
    font-size: 1.1em;
}

#footer a:hover {
    color: white;
    background-color: #FFEB3B;
    padding: 5px;
    border-radius: 3px;
}

#footer p{
    color: #FFEB3B; 
    text-decoration: none;
    font-size: 1.1em;
}

#footer p:hover{
    color: white;
    background-color: #FFEB3B;
    padding: 5px;
    border-radius: 3px;

}
